body {
    background-color: #111 !important;
    color: #ff69c4 !important; /* brighter neon */
    font-family: "Courier New", monospace !important;
}

/* BOX around inputs */
.bracket-box {
    border: 2px solid #ff69c4;
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
}

/* Inputs */
.bracket-input {
    background-color: #111 !important;
    color: #ff69c4 !important;
    border: none !important;
    font-size: 18px !important;
    text-align: center collor white !important;
    
}

/* focus */
.bracket-input:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Dotted line EXACTLY like before */
.divider {
    width: 80%;
    height: 2px;
    background-image: linear-gradient(to right, #ff69c4 20%, rgba(0,0,0,0) 0%);
    background-size: 12px 2px;
    background-repeat: repeat-x;
    margin: 20px 0 20px 0;
}

/* Result */
.result-text {
    color: #ff69c4;
    font-size: 24px;
}

/* Logs */
#output {
    width: 100%;
    height: 200px;
    background-color: #111;
    color: #ff69c4;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
    font-family: "Courier New", monospace;
}
