body {
    background-color: #111 !important;
    color: #ff69c4 !important;
    font-family: "Courier New", monospace !important;
}

/* Pink box around items */
.bracket-box {
    border: 2px solid #ff69c4;
    margin: 8px;
    padding: 12px;
    border-radius: 8px;
    max-width: 320px;
}

/* Inputs style */
.bracket-input {
    background-color: #111 !important;
    color: #ff69c4 !important;
    border: none !important;
    font-size: 18px !important;
    text-align: center !important;
}

.bracket-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Bright Placeholder */
.bracket-input::placeholder,
#output::placeholder {
    color: #ff85e0 !important;
    opacity: 1 !important;
}

/* Dashed line */
.divider {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #ff69c4 25%, rgba(0,0,0,0) 0%);
    background-size: 14px 2px;
    background-repeat: repeat-x;
    margin: 20px 0;
}

/* Result text */
.result-text {
    color: #ff69c4;
    font-size: 20px;
}

/* Logs textarea */
#output {
    width: 100%;
    height: 200px;
    background-color: #111;
    color: #ff69c4;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
    font-family: "Courier New", monospace;
}

/* Validation (Step 5) */
/* Make Bootstrap validation visible on dark mode */

.is-valid {
    border: 2px solid #4cff4c !important; /* neon green */
}

.is-invalid {
    border: 2px solid #ff3b6a !important; /* neon red */
}
